### Palmer Archipelago (Antarctica) Penguins Dataset

#### Source
I found this dataset ok Kaggle here: https://www.kaggle.com/datasets/parulpandey/palmer-archipelago-antarctica-penguin-data
It is originally collected and made available by Dr. Kristen Gorman and the Palmer Station, Antarctica LTER, a member of the Long Term Ecological Research Network.

#### Key attributes/ Dimensions
I will be using the penguin size dataset. There are several attributes for this dataset. Some key attributes are:
- species: penguin species (Chinstrap, Ad√©lie, or Gentoo)
- flipper_length_mm: flipper length (mm)
- body_mass_g: body mass (g)

#### Goals and Tasks
1. Why is a task pursued? (goal)
    - I am pursuing the penguin dataset as a fun project to understand altair visualization and in the process learn about penguins. I would like to understand the relations between different penguin species, and identify patterns in their physical attributes. I can also explore the distribution of penguins across different locations.
2. How is a task conducted? (means)
    - I will conduct the task with different visualizations such as charts, and graphs.
3. What does a task seek to learn about the data? (characteristics)
    - A task may seek to learn about various characteristics of the data such as the distribution of penguins, the relationship between their physical attributes (body mass, flipper dimensions, beak dimensions).
4. Where does the task operate? (target data)
    - The target data of this task using the penguin dataset can be found here: https://www.kaggle.com/datasets/parulpandey/palmer-archipelago-antarctica-penguin-data. This includes all the information I need about Penguin species and their physical attributes.
5. When is the task performed? (workflow)
    - The workflow of this task may involve data cleaning and preparation, perhaps some exploratory data analysis to identify patterns and relationships and finally visualizations to communicate insights.
6. Who is executing the task? (roles)
    - The roles involved in task execution could be data analysts, data scientists, researchers studying climate change or environmental impacts on animals in Antarctica. It could also be biologists or ecologists.

In [1]:
import pandas as pd
import altair as alt

penguins_df = pd.read_csv("data/penguins_size.csv")
penguins_df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [5]:
penguins_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [10]:
penguins_df = penguins_df.dropna()

In [11]:
penguins_df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [12]:
penguins_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    object
 1   island             334 non-null    object
 2   culmen_length_mm   334 non-null    float64
 3   culmen_depth_mm    334 non-null    float64
 4   flipper_length_mm  334 non-null    float64
 5   body_mass_g        334 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.9+ KB